@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inconsolata:wght@300&family=Lobster&family=PT+Sans:wght@700&family=Poppins&display=swap');

*, ::after, ::before{   
    margin: 0; padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    background-color: red;
    color: #888;
}

.master-container{
    min-height: 100vh;
    background-color: wheat;
}

a{
    text-decoration: none;
    color: inherit;
}

#navbar{
    position: sticky;
    top: 0; left: 0;
    padding: 1rem;
}


/* media query => mobile */
@media (max-width: 320px) and (max-width: 480px){

}
/* media query => iPads or Tablets */
@media (max-width: 481px) and (max-width: 768px){

}
/* media query => Laptops */
@media (max-width: 769px) and (max-width: 1024px){
    html{
        background: red;
    }
}
/* media query => Large screens */
@media (min-width: 1025px){
    html{
        background: red;
    }
}

